.blocoLista{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: auto;
    flex-direction: row;
}
.blocosEXE {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    height: 50%;
    gap: 5%
}